//-------------------------------------------------------------------
////	분류그룹 : Accordion
////	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------
// Style1
.accordion.style1 .accordion-item {border:0;}
.accordion.style1 .accordion-item + .accordion-item {margin-top:20px;}
.accordion.style1 .accordion-button {padding: 12px 30px; background-color: #f2f6fe; border: 1px solid #d2e4ff; @include FontBody12; font-weight: bold; border-radius: 6px; box-shadow: none; color: #000;}
.accordion.style1 .accordion-button::after {width: 16px; height: 16px; background-size:16px auto;}
.accordion.style1 .accordion-button.collapsed {background-color: #fbfcfd; border: 1px solid #e4e5ea;}
.accordion.style1 .accordion-body {margin-top:10px; padding: 0 30px 0 30px;}
.accordion.style1 + .form-action {margin-top:20px;}