//-------------------------------------------------------------------
//	분류그룹 : Chip
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.chip {position:relative;display:inline-flex;justify-content:center;align-items:center;overflow:hidden;max-width:100%;}

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------
.chip-label {padding: 1px 5px; border-radius: 2px; @include FontBody10;}
.chip-label.orange {background-color: rgba(255, 99, 32, 0.1); color: #bf3900;}