//-------------------------------------------------------------------
//	분류그룹 : Drop
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------
.dropdown {display: flex; align-items: center;}
.dropdown-toggle {display: flex; align-items: center; padding-bottom: 2px;}
.dropdown-toggle::after {display: none;}
.dropdown-toggle .icn {position:relative; top:1px; margin-left: auto;}

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------
.dropdown-level .dropdown-menu {width: 230px; border-radius: 2px; border:1px solid #e4e5ea; padding: 10px; font-size: inherit;}
.dropdown-level .dropdown-title {margin-bottom: 10px;}
.dropdown-level .dropdown-define {font-size: 10px;}
.dropdown-level .dropdown-define dd {color: $ColorPrimaryDark;}