//-------------------------------------------------------------------
//	분류그룹 : Drop
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------
.dropdown {display: flex; align-items: center;}
.dropdown-toggle {display: flex; align-items: center; padding-bottom: 2px;}
.dropdown-toggle::after {display: none;}
.dropdown-toggle .icn {position:relative; top:1px; margin-left: auto;}

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------
