//-------------------------------------------------------------------
//	분류그룹 : Form
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Elements
//-------------------------------------------------------------------
// controls
.form-control {@include formControls;}
.form-control:focus {position: relative; z-index: 1; box-shadow: 0 0 0 3px rgba(13,110,253,.25);}
.form-control::placeholder {color: #ccc;}
textarea.form-control {@include formControls; height: auto; padding-top:10px; padding-bottom: 10px;}
.form-select {@include formControls; padding-right: 35px; min-width: 100px;}
.form-select::placeholder {color: #e4e5ea;}
.input-group {align-items: center;}
.input-group-over {display: flex; align-items: center; justify-content: center; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index:10;}
.input-group-over .btn:focus, .input-group-over .btn:active, .input-group-over .btn:hover {box-shadow: none; border-color: transparent !important;}

// text
.form-star {color: $ColorNegative;}
.form-label {margin: 0;}
.form-split {display: flex; justify-content: center; align-items: center; padding: 0 7px; color: #000;}
.form-byte {display: block; margin-left: 10px !important;}
.form-byte .now {color: $ColorPrimary;}
.form-byte.len-2 {flex:none; width: 32px;}
.form-byte.len-3 {flex:none; width: 48px;}

// alert
.alert-guide {color:$ColorNegative;}

// Description
.form-desc {margin-left: 10px; line-height: 28px;}

// Update Info
.form-update {display: flex; justify-content: flex-end; align-items: center; text-align: right; margin-top:-22px;}
.form-update .btn {margin-left: 10px;}

// Search box
.form-searchbox {margin-top:20px; margin-bottom: 20px;}
.form-searchbox {padding: 10px 30px; background-color: #fbfcfd; border:1px solid #e4e5ea; border-radius: 6px;}

// List box
.form-listbox {margin-top:4px; padding: 10px 20px; background-color: $ColorPrimaryLight; @include FontBody12; line-height: 26px; border-radius: 6px; text-align: left;}
.form-listbox .chip-group {margin: -5px -10px;}
.form-listbox .chip {margin: 5px 10px;}
.form-listbox .chip .btn-remove {margin-left: 5px;}

// Search Count
.search-count {margin-left: 10px;}

//-------------------------------------------------------------------
//	@Groups
//-------------------------------------------------------------------
// field layout
.field-inline {display: flex; flex-direction: row;}
.field-inline .form-title {flex:none; display: flex; min-height: 26px; padding-top:6px; width:100px;}
.field-inline .form-controls {flex:1 1 auto;}
.field-block {display: flex; flex-direction: column;}
.field-block .form-title {flex:none; display: flex; min-height: 26px; padding-top:6px;}
.field-block .form-label {width:100px;}
.field-block .form-title .alert-guide {margin-left: 10px;}
.field-block .form-controls {margin-top:14px;}
.field-inline,.field-block {padding-top:7px; padding-bottom: 7px;}
.field-inline:first-child,.field-block:first-child {padding-top:0;}
.field-inline:last-child {padding-bottom:0;}
.field-action {margin-top:20px; text-align: center;}
.form-controls {display: flex; align-items: center; min-height: 28px; }
.form-controls.row {margin: 0;}
.form-controls .alert-guide {margin-top:10px; margin-bottom: 10px;}
.field-alert {padding-top:13px; padding-bottom: 7px;}

// field styles
.form.lined .field-inline,
.form.lined .field-block {
	padding-top:14px; padding-bottom: 14px; border-bottom:1px solid #e4e5ea;
	&:first-child {padding-top:0;}
	&:last-child {border-bottom:0;}
}
//-------------------------------------------------------------------
//	@Types
//-------------------------------------------------------------------
// 달력
.input-group-date {display: flex; align-items: center;}
.input-group-date .input-group {width:120px;}

// 검색
.input-group.type-search {width: 180px;}