//-------------------------------------------------------------------
//	분류그룹 : Form
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Elements
//-------------------------------------------------------------------
// controls
.form-control {@include formControls;}
.form-control:focus {position: relative; z-index: 1; box-shadow: 0 0 0 3px rgba(13,110,253,.25);}
.form-control::placeholder {color: #ccc;}
textarea.form-control {@include formControls; height: auto; padding-top:10px; padding-bottom: 10px;}
.form-select {@include formControls; padding-right: 35px; min-width: 100px;}
.form-select:focus {box-shadow: 0 0 0 3px rgba(13,110,253,.25);}
.form-select::placeholder {color: #e4e5ea;}
.form-select.type-module {box-sizing: border-box; height: 24px; min-width: 80px; padding:0 35px 1px 10px; border-radius: 0 !important; color:$ColorPrimaryDark; font-size: 10px; background-size: 10px auto; background-position: right 10px center;}
.form-select.type-module::placeholder {color: #e4e5ea;}
.dataTables_length select {min-width: 1px; @extend .form-select; background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") no-repeat right .75rem center / 16px 12px;}
.input-group {align-items: center;}
.input-group > .btn:not(:first-child) {margin-left: 10px !important;}
.input-group-over {display: flex; align-items: center; justify-content: center; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index:10;}
.input-group-over .btn:focus, .input-group-over .btn:active, .input-group-over .btn:hover {box-shadow: none; border-color: transparent !important;}
.form-file {@extend .blind}
// range
.form-range {
	width:100%;-webkit-appearance: none;background: transparent;
	&:focus {outline: none;}
	&::-ms-track {width: 100%;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}
	&::-webkit-slider-thumb {-webkit-appearance: none;background: #ffffff;cursor: pointer;border: 1px solid $ColorPrimary; height: 16px; width: 16px; margin-top:-6px;border-radius: 10px;
	}
	&::-webkit-slider-runnable-track { width: 100%;height:4px;cursor: pointer; background: #e0e2e7; border-radius:4px;}
	&-value {display: flex; justify-content: space-between; @include FontBody10; color: #4a4c5d;}
}
// text
.form-star {color: $ColorNegative;}
.form-label {margin: 0;}
.form-label-sub {margin-right: 20px;}
.form-split {display: flex; justify-content: center; align-items: center; padding: 0 7px; color: #000;}
.form-byte {display: block; margin-left: 10px !important;}
.form-byte .now {color: $ColorPrimary;}
.form-text {display: block; margin: 0; margin-left: 10px !important;}
.form-byte.len-2 {flex:none; width: 32px;}
.form-byte.len-3 {flex:none; width: 48px;}

// alert
.alert-guide {color:$ColorNegative;}

// Description
.form-desc {margin-left: 10px; line-height: 28px;}

// Update Info
.form-update {display: flex; justify-content: flex-end; align-items: center; text-align: right; margin-top:-22px;}
.form-update .btn {margin-left: 10px;}

// Search box
.form-searchbox {position: relative; margin-top:20px; margin-bottom: 20px;}
.form-searchbox {padding: 20px 30px; background-color: #fbfcfd; border:1px solid #e4e5ea; border-radius: 6px;}

// Seter box
.form-seterbox {margin-top:20px; margin-bottom: 20px;}
.form-seterbox {padding: 16px 30px 14px 30px; background-color: #fbfcfd; border:1px solid #e4e5ea; border-radius: 6px;}
.form-seterbox .field-block:last-child {padding-bottom: 0;}

// List box
.form-listbox {width: 100%; margin-top:4px; padding: 10px 20px; background-color: $ColorPrimaryLight; @include FontBody12; line-height: 26px; border-radius: 6px; text-align: left;}
.form-listbox .chip-group {margin: -5px -10px; padding: 10px 0;}
.form-listbox .chip {margin: 5px 10px;}
.form-listbox .chip .btn-remove {margin-left: 5px;}
.form-listbox.scroll-2 {overflow: auto; max-height:68px; @include scrollbarY;}

// Search Count
.search-count {margin-left: 10px;}

// form checking
.form-checking {color: #4a4c5d;}
.form-checking .icn {position: relative; top:-1px; margin-right: 1px;}
.form-checking .btn.linked {position: relative; top: -2px;}
.form-controls > .form-checking {margin-top: 10px; margin-bottom: 6px;}

//-------------------------------------------------------------------
//	@Groups
//-------------------------------------------------------------------
// field layout
.form-header {display: flex; align-items: center; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e4e5ea;}
.form-header .form-heading {width: 100px;}
.form-header .btn.linked {margin-left: 10px;}
.form-action {margin-top:30px; padding-top:20px; border-top: 1px solid #e4e5ea;}
.form-action {display: flex;}
.form-action .right-area {margin-left: auto;}
.form-action .right-area .btn + .btn {margin-left: 10px;}
.field-inline {display: flex; flex-direction: row;}
.field-inline .form-title {flex:none; display: flex; min-height: 26px; padding-top:6px; width:100px;}
.field-inline .form-controls {width: calc(100% - 100px);}
.field-block {display: flex; flex-direction: column;}
.field-block .form-title {flex:none; display: flex; min-height: 26px; padding-top:6px;}
.field-block .form-label {width:100px;}
.field-block .form-title .alert-guide {margin-left: 10px;}
.field-block .form-controls {margin-top:14px;}
.field-inline,.field-block {padding-top:7px; padding-bottom: 7px;}
.field-inline:first-child,.field-block:first-child {padding-top:0;}
.field-inline:last-child {padding-bottom:0;}
.field-action {margin-top:20px; text-align: center;}
.field-action .btn {width: 200px;}
.field-refresh {position: absolute; right: 20px; top: 20px;}
.form-controls {display: flex; align-items: center; min-height: 28px; }
.form-controls.row {margin: 0;}
.form-controls .alert-guide {margin-top:10px; margin-bottom: 10px;}
.field-alert {padding-top:13px; padding-bottom: 7px;}

// field styles
.form.lined .field-inline,
.form.lined .field-block {
	padding-top:14px; padding-bottom: 14px; border-bottom:1px solid #e4e5ea;
	&:first-child {padding-top:0;}
	&:last-child {border-bottom:0;}
}


//-------------------------------------------------------------------
//	@Types
//-------------------------------------------------------------------
// 달력
.input-group-date {display: flex; align-items: center;}
.input-group-date .input-group {flex:none; width:120px;}
.input-group-date.has-time .input-group {margin-right: 10px;}

// 검색
.input-group.type-search {width: 180px;}

// 인증번호 전송
.input-group.type-cert {justify-content: space-between;}
.input-group.type-cert .btn-login {margin-left: 10px !important;}
.input-group.type-cert .input-group {width: auto; flex:1 1 auto;}

// 휴대폰번호
.input-group.type-hp .form-select {width: calc(33.3333% - 4px);}
.input-group.type-hp .form-control {width: calc(33.3333% - 3px); margin-left: 5px !important;}

// IP 번호
.input-group.type-ip .form-control {width:calc(25% - 4px); flex:1 1 auto;}
.input-group.type-ip .form-control + .form-control {margin-left: 5px !important;}