//-------------------------------------------------------------------
//	분류그룹 : Variables
//	속성순서 : Colors,
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Color (-Opacity, -Light, -Dark)
//-------------------------------------------------------------------
// Brand Color
$ColorPrimary: #3f89f7;
$ColorPrimaryDark: #004098;
$ColorPrimaryLight: #f2f6fe;
// $ColorSecondary: #000;
// $ColorHighlight: #000;

// State Color
// $ColorPositive: #000;
$ColorNegative: #ff3a2d;

// Grayscale
$ColorBlack: #222222;
$ColorDark: #4c4c4c;


//-------------------------------------------------------------------
//	@Size (Width-, Height-, Gap-)
//-------------------------------------------------------------------
// Layout
$WidthBody: 1200px;
$HeightAppbar: 60px;
$GapBody: 20px;

//-------------------------------------------------------------------
//	@Text
//-------------------------------------------------------------------
// Fonts
@mixin FontBody10 {font-size:10px;line-height: 14px;}
@mixin FontBody12 {font-size:12px;line-height: 16px;}
@mixin FontBody13 {font-size:13px;line-height: 18px;}
@mixin FontBody14 {font-size:14px;line-height: 20px;}
@mixin FontBody15 {font-size:15px;line-height: 22px;}
@mixin FontBody16 {font-size:16px;line-height: 24px;}
@mixin FontTitle10 {font-size:10px;line-height: 16px;font-weight: 700;}
@mixin FontTitle13 {font-size:13px;line-height: 17px;font-weight: 700;}
@mixin FontTitle14 {font-size:14px;line-height: 18px;font-weight: 700;}
@mixin FontTitle15 {font-size:15px;line-height: 20px;font-weight: 700;}
@mixin FontTitle16 {font-size:16px;line-height: 22px;font-weight: 700;}
@mixin FontTitle18 {font-size:18px;line-height: 24px;font-weight: 700;}
@mixin FontTitle20 {font-size:20px;line-height: 26px;font-weight: 700;}
@mixin FontTitle22 {font-size:22px;line-height: 28px;font-weight: 700;}

// Word
@mixin Ellipsis1 {display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
@mixin Ellipsis2 {display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
@mixin Ellipsis3 {display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
@mixin Ellipsis4 {display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 4;-webkit-box-orient: vertical;}

//-------------------------------------------------------------------
//	@Util
//-------------------------------------------------------------------
// Split
@mixin SplitBar {position: relative;top:1px;display:block;width:1px;height:1.2rem;background-color: #A4A6AA;margin:0 0.8rem;}

// Shadow
@mixin Shadow1 {box-shadow:0px 0.1rem 0.1rem rgba(0, 0, 0, 0.02), 0 0.2rem 0.1rem rgba(0, 0, 0, 0.04), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.06);}
@mixin Shadow2 {box-shadow:0px 0.4rem 0.5rem rgba(0, 0, 0, 0.02), 0 0.1rem 1rem rgba(0, 0, 0, 0.04), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.06);}
@mixin Shadow3 {box-shadow:0px 1.2rem 1.7rem rgba(0, 0, 0, 0.02), 0 0.5rem 2.2rem rgba(0, 0, 0, 0.04), 0 0.7rem 0.8rem rgba(0, 0, 0, 0.06);}
@mixin Shadow4 {box-shadow:0px 2.4rem 38px rgba(0, 0, 0, 0.02), 0 0.9rem 4.6rem rgba(0, 0, 0, 0.04), 0 1.1rem 1.5rem rgba(0, 0, 0, 0.06);}

//-------------------------------------------------------------------
//	@Components
//-------------------------------------------------------------------
@mixin formControls {
	height: 28px;
	padding: 5px 10px 7px;
	border: 1px solid #e4e5ea;
	border-radius: 6px !important;
	background-color: #fff;
	color: #000000;
	@include FontBody12;
}
