//-------------------------------------------------------------------
//	분류그룹 : 공통컨텐츠
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@공통
//-------------------------------------------------------------------
// main-section-header
.main-section-header {position: relative; align-items: center}
.main-section-header .title {@include FontTitle16;}
.main-section-header .explain-wrap {display: flex;}
.main-section-header .explain {margin-top:10px;}
.main-section-header .alert-guide {margin-top:10px; margin-left: 20px;}
.main-section-header .btn-control {position: absolute; right: 0; bottom: -6px;}
.main-section-header .btn-module2 {position: absolute; right: 0; bottom: -6px;}
.main-section-header.lined {margin-bottom: 20px; padding-bottom: 16px; border-bottom: 1px solid #e4e5ea;}
.main-section-header.lined .btn-module2 {bottom: 10px;}
.main-section-header.lined .btn-control {bottom: 10px;}

// main-sub-header
.main-sub-header {display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;}
.main-sub-header.lined {margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e4e5ea;}
.main-sub-header .title {font-weight: 700;}
.main-sub-header .title2 {font-size: 16px; font-weight: 700;}

// Page System
.page-system-wrap {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; min-height: 100%; padding: 30px; background-color: #f8fafb;}
.page-system-container {display: flex; align-items: center; justify-content: center; width: 900px; height: 500px; margin: auto; background-color: #fff; border-radius: 20px;}
.page-system-section {display: flex; flex-direction: column; text-align: center;}
.page-system-section .msg-area {margin-top:28px;}
.page-system-section .btn-area {margin-top:102px;}
.page-system-section .msg-area .msg {font-size: 16px; line-height: 26px; color: #000;}
.page-system-section .btn-area .btn {width: 340px;}


//-------------------------------------------------------------------
//	@대쉬보드
//-------------------------------------------------------------------
.dashboard-section .main-section-header {margin-bottom: 20px;}
.dashboard-section + .dashboard-section {margin-top: 30px;}

// 대시보드 데이터
.dashboard-status {display: flex;}
.dashboard-status > .item {flex:1 1 auto; background-color: #f5f8ff; border-radius: 6px; padding: 20px 24px; color: #4a4c5d;}
.dashboard-status > .item + .item {margin-left: 20px;}
.dashboard-status > .item .tit {display: block; font-size: 16px; line-height: 22px; margin-bottom: 10px;}
.dashboard-status > .item .count {vertical-align: middle; font-size: 22px; color: #000; font-weight: 700;}
.dashboard-status > .item .txt {font-size: 20px; vertical-align: middle; position: relative; top: 1px; margin-left: 4px;}

// 대시보드 차트
.dashboard-chart {display: flex; margin-top:20px;;}
.dashboard-chart > .item {flex: 1 1 auto; padding: 20px; border: 1px solid #e0e2e7; border-radius: 10px; height: 323px; overflow: hidden;}
.dashboard-chart > .item + .item {margin-left: 20px;}
.dashboard-chart > .item .tit {display: block; text-align: center; color: #4a4c5d; margin-bottom: 20px; font-size: 16px; line-height: 22px; font-weight: 700;}
.dashboard-chart > .item .chart-area {display: flex; justify-content: center; align-items: center; width: 220px; height: 220px; margin: 0 auto 0;}

// 대시보드 차트 범례
.chart-regend {position: relative; z-index: 10; display: flex; flex-direction: column; flex-wrap: wrap; height: 40px;}
.chart-regend > .item {display: flex; align-items: center; color:#4a4c5d; margin:2px 0; font-size: 12px; line-height: 16px;}
.chart-regend > .item span {display: block; width: 10px; height: 10px; margin-right: 10px; border-radius: 10px; background-color:attr(data-color);}

//-------------------------------------------------------------------
//	@사용자관리
//-------------------------------------------------------------------
// 사용자상세
.user-detail-header {display: flex; align-items: center; margin-top:30px; margin-bottom: 10px;}
.user-detail-header .title {@include FontBody16; font-weight:700; margin-right: 30px;}
.user-detail-header .explain {padding-top:4px; color: #777;}

// 프로필영역
.profile-sec {display: flex; align-items: center; padding: 20px; border:1px solid #e4e5ea; border-radius: 6px;}
.profile-sec .avata-area {flex:none; margin-right: 18px;}
.profile-sec .info-area {flex:1 1 auto;}
.profile-sec .util-area {margin-left: auto;}
.profile-sec .avata {width: 62px; height: 62px;}
.profile-sec .info-position {color: $ColorPrimaryDark;}
.profile-sec .info-name {display: flex; align-items: center; margin: 2px 0; @include FontBody16;}
.profile-sec .info-name .chip {margin-left: 10px;}
.profile-sec .info-part span {color:#4a4c5d;}
.profile-sec .info-part .btn {margin-left: 6px;}
.main-section-header + .profile-sec {margin-top:10px;}

// 등록 이미지 보기
.preview-thumb img {width: 100%;}

// 사용자검색
.user-search-sec .search-area .input-group {margin-left: 10px;}
.user-search-sec .desc-area {display: flex; justify-content: space-between; align-items: center; min-height: 28px; margin-bottom: 10px;}
.user-search-sec .desc-area .msg {color:#4a4c5d;}
.user-search-list {display: flex;}
.user-search-list .tree-area {display: flex; width: 316px; flex:none; margin-right: 30px;}
.user-search-list .table-area {width: auto; flex:1 1 auto;}
.table-scroll-area {max-height:480px; overflow-y: auto; @include scrollbarY;}

// 조직도
.tree-box {width: 100%; height: 100%; padding: 10px 20px; border: 1px solid #e4e5ea;border-radius: 10px;}
.aciTree .aciTreeLi {margin-top:10px;}
.aciTree > .aciTreeUl > .aciTreeLi:first-child {margin-top:0;}
.aciTree .aciTreeLine,
.aciTree .aciTreeButton,
.aciTree .aciTreePush,
.aciTree .aciTreeItem,
.aciTree .aciTreeIcon,
.aciTree .aciTreeText,
.aciTree .aciTreeColumn {display: inline-block; line-height: 16px;font-size: 12px;color: #000;}
.aciTree .aciTreeLine .aciTreePush {margin-right: 5px; width:10px; height: 10px;}
.aciTree .aciTreeInode>.aciTreeLine .aciTreePush {background:url("../img/icn-10-tree-plus.png") no-repeat 0 0 / 100% auto ;}
.aciTree .aciTreeOpen>.aciTreeLine .aciTreePush {background:url("../img/icn-10-tree-minus.png") no-repeat 0 0 / 100% auto ;}
.aciTree .aciTreeBranch {padding-left: 20px;}
.aciTree .aciTreeLine .aciTreeEntry {padding: 0 5px;}
.aciTree .aciTreeLine.aciTreeHover .aciTreeEntry {background-color: $ColorPrimaryLight;;}
.aciTree .aciTreeLine.aciTreeSelected .aciTreeEntry {background-color: $ColorPrimaryLight; color: $ColorPrimary;}
.aciTree .aciTreeLine.aciTreeSelected .aciTreeItem .aciTreeText {color: $ColorPrimary;}

// VDI List
.vdi-list-wrap {margin-top:30px;}
.vdi-list-wrap .title {@include FontBody16; font-weight:700; margin-bottom: 10px;}
.vdi-list {display: flex; gap: 20px; overflow: auto;}
.vdi-list .item {flex:none; width: calc(20% - 16px); padding: 16px 20px 20px 20px; border-radius:6px; border:1px solid #e4e5ea; text-align: center;}
.vdi-list .item .tit {display: flex; text-align: left; font-weight: 700; align-items: center;}
.vdi-list .item .tit .icn {margin-left: 5px;}
.vdi-list .pc {margin: 22px auto 14px auto;}
.vdi-list .btn-control {width: 100%; max-width: 140px;}
.vdi-list .item.is-disabled .pc {opacity: 0.3; pointer-events: none;}

.vdi-list.type-wrap {width:100%; flex-wrap: wrap;}

// VDI Detail
.vdi-detail {display: table; width: 100%;}
.vdi-detail li {display: table-row;}
.vdi-detail li .tit {display: table-cell; padding: 12px 20px 12px 0; border-top: 1px solid #e4e5ea; width: 25%;}
.vdi-detail li .txt {display: table-cell; padding: 12px 0; border-top: 1px solid #e4e5ea;}
.vdi-detail li:first-child .tit,
.vdi-detail li:first-child .txt {border-top: 0;}

// VDI DeleteCode
.vdi-deleteCode-wrap .explain {line-height: 28px; margin-bottom: 14px;}
.vdi-deleteCode-list .item {padding: 9px 20px; border:1px solid #e4e5ea; border-radius: 6px; cursor: pointer;}
.vdi-deleteCode-list .item .tit {display: block; font-weight: 700; color: #4a4c5d; line-height: 20px;}
.vdi-deleteCode-list .item .txt {display: block; font-weight: 400; color: #4a4c5d; line-height: 26px;}
.vdi-deleteCode-list .item.is-selected {background-color: #f2f6fe; border-color: 1px solid #d2e4ff;}
.vdi-deleteCode-list .item + .item {margin-top:10px;}

// 상세정보
.tooltip-inner {padding: 8px 10px; border: 1px solid #e4e5ea; font-size: 10px; color:#fff; word-wrap: break-word; word-break: keep-all;}

// 이상행위 이미지 보기
.strangePreview-sec {display: flex; justify-content: space-between;}
.strangePreview-sec .preview-area {width:446px;}
.strangePreview-sec .strangeForm-area {width: 500px;}
.strangePreview-sec .form-listbox {height: 120px; overflow: auto; @include scrollbarY;}

// 추가모니터 이미지 보기
.monitoringPreview-sec {display: flex; justify-content: space-between;}
.monitoringPreview-sec .preview-area {width:220px;}
.monitoringPreview-sec .strangeForm-area {width: 500px;}
.monitoringPreview-sec .form-listbox {height: 120px; overflow: auto; @include scrollbarY;}

// 이미지 보기
.preview-grid {display: flex; flex-wrap: wrap; margin:-10px -3px;;}
.preview-grid .preview-col {margin:10px 3px;}
.preview-grid .preview-thumb {width:220px; height: 140px; background-color: #d9d9d9;}
.preview-grid .preview-thumb img {width:100%; height: 100%; object-fit: cover;}
.preview-grid .preview-title {margin-top:5px;}

//-------------------------------------------------------------------
//	@그룹관리
//-------------------------------------------------------------------
// 그룹관리 목록 공통
.group-search-list {display: flex;}
.group-search-list .tree-area {display: flex; width: 316px; flex:none; margin-right: 30px;;}
.group-search-list .table-area {width: auto; flex:1 1 auto; overflow: hidden;}
.group-search-list .edit-area {width: auto; flex:1 1 auto;}
.group-search-list .edit-sec,
.group-search-list .tree-sec {display: flex; flex-direction: column; height: 100%; width: 100%;}
.group-search-list .tree-header {display: flex; align-items: center; justify-content: space-between; min-height: 28px; margin-bottom: 10px;}
.group-search-list .tree-title {display: flex; align-items: center; line-height: 28px;}
.group-search-list .tree-title .icn {margin-right: 5px;}
.group-search-list .tree-box {min-height: 320px;}
.group-search-list .form + .form {margin-top:34px;}

.table-scroll-area {max-height:480px; overflow-y: auto; @include scrollbarY;}

// 사용자정의그룹
.tree-list-group .btn {display: block; width: auto; text-align: left; padding: 5px 10px; border-radius: 2px;}
.tree-list-group .btn:active,
.tree-list-group .btn.is-selected {background-color: $ColorPrimaryLight;}
.tree-list-group .btn:not(.is-selected):hover,
.tree-list-group .btn:not(.is-selected):focus {background-color: #f8f8f8;}
.tree-list-group .btn em {color: $ColorPrimary;}
.tree-list-group .btn + .btn {margin-top:10px;}
.list-nodata {padding-top: 20px; text-align: center; color: #4a4c5d;}

// 편집모드
.edit-box {width: 100%; height: 100%; padding: 30px; border: 1px solid #e4e5ea; border-radius: 10px;}
.edit-header {margin-bottom: 20px;}
.edit-title {@include FontBody16; font-weight: 700;}

// 그룹정보변경이력
.history-list-group .item {display: flex; align-items: center;}
.history-list-group .item + .item {margin-top:10px;}
.history-list-group .item > span,
.history-list-group .item > button {margin-right: 4px;}
.history-scroll-area {max-height:400px; overflow-y: auto; @include scrollbarY;}

// 신규그룹
.form-create-sec {width: 820px;}
.form-create-sec .form + .form {margin-top: 20px;}

//-------------------------------------------------------------------
//	@에이전트 설정
//-------------------------------------------------------------------
// 인증설정
.form-rangebox {padding: 20px; border:1px solid #e4e5ea; background-color: #fbfcfd; border-radius: 6px;}
.form-rangebox .form-title {display: flex; width: auto;}
.form-rangebox .form-label {margin-right: 10px;}
.form-rangebox .form-controls {margin-top:20px;}
.form-rangebox + .form-rangebox {margin-top:20px;}

// 안내문구 설정
.form-guidemgmt {padding: 10px 0;}
.form-guidemgmt .form-title {width: 180px;}
.form-guidemgmt .input-group + .input-group {margin-top:10px;}

// 로그저장 설정
.form-logset-sec {width: 820px;}
.form-logset-sec + .form-logset-sec {margin-top:40px;}

//-------------------------------------------------------------------
//	@정책관리
//-------------------------------------------------------------------
// 예외정책 템플릿관리
.policy-temp-group {display: flex; margin: 0 -10px; margin-top: 10px;}
.policy-temp-box {display: flex; flex-direction: column; width: calc(25% - 20px); margin: 0 10px; padding: 16px 30px 20px 30px; border:1px solid #e4e5ea; background-color: #fbfcfd; border-radius: 6px;}
.policy-temp-box .box-header {display: flex; align-items: center; justify-content: space-between;}
.policy-temp-box .box-header .title {font-weight: 700;}
.policy-temp-box .box-header .btn {font-size: 10px; line-height: 14px;}
.policy-temp-box .box-checklist {margin-top:20px; margin-bottom: 20px;}
.policy-temp-box .box-checklist .item {display: flex; align-items: center;}
.policy-temp-box .box-checklist .item.is-disabled {opacity: 0.3;}
.policy-temp-box .box-checklist .item .icn {margin-right: 10px;}
.policy-temp-box .box-checklist .item + .item {margin-top:10px;}
.policy-temp-box .box-action {width: 100%; margin-top: auto;}
.policy-temp-box .box-action .btn {width: 100%;}

// 예외정책 편집
.form-temp-sec {width: 820px;}
.form-temp-sec .form-action {margin-top: 20px;}
