//-------------------------------------------------------------------
////	분류그룹 : Accordion
////	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//  @Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.acco_title {position:relative;display:block;}
.acco_title::after {content:"";display:block;position:absolute;z-index:10;}
.acco_title.is_expanded::after {transform:rotate(180deg);}
.acco_content {display:none;}
.acco_content.is_expanded {display:block;}

//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------