//-------------------------------------------------------------------
//	분류그룹 : Button
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.btn {position:relative;display:inline-flex;justify-content:center;align-items:center;flex:none;margin:0;padding:1.0rem;color:inherit;font-size:inherit;box-sizing:inherit;letter-spacing:inherit;transition:all 0.2s ease;}
.btn:hover,.btn:active,.btn:focus {color:inherit;}

//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------