//-------------------------------------------------------------------
//	분류그룹 : Checkbox
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.radio,.switch,.checkbox {
    position:relative;display:inline-flex;font-size:inherit;line-height:inherit;
    > input {cursor:pointer;position:absolute;top:0px;left:0px;opacity:0 !important;outline:none;}
    > label {position:relative;display:block;}
    > label::before,
    > label::after {content:"";display:block;position:absolute;} 
}

//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------