//-------------------------------------------------------------------
//	분류그룹 : Chip
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.chip {position:relative;display:inline-flex;justify-content:center;align-items:center;overflow:hidden;@include Ellipsis1;max-width:100%;}

//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------