//-------------------------------------------------------------------
//	분류그룹 : Icon
//	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	@Variables
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Default
//-------------------------------------------------------------------
.icn {display:inline-flex;flex:none;}
.icn::before {content:'';display:block;background:no-repeat 0 0 / 100% auto;}
.icn.revers {flex-direction:row-reverse;}

//-------------------------------------------------------------------
//	@Common
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//	@Styles
//-------------------------------------------------------------------