<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>CUBOX K-FACEON</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="keywords" content="CUBOX K-FACEON, 삼성 SDS" />
<meta name="description" content="CUBOX K-FACEON, 삼성 SDS" />
<title>CUBOX K-FACEON</title>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- Custom -->
<link rel="stylesheet" href="../../assets/css/index.css" />
<script src="../../assets/js/libs/jquery.min.js"></script>
<!-- Guide 전용 -->
<link rel="stylesheet" href="css/guide.css" />
</head>
<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
<div class="wrapper sub_page">
	<!-- Header -->
	<header class="header"></header>
	<!-- //Header -->

	<!-- Container -->
	<div class="container">
		<main id="content" class="content" role="main">
			<div class="content-body">
				<div class="in-sec">
					<h1 class="g-h1">Buttons</h1>
				</div>
				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">.btn-control</h2>
					</div>
					<div class="g-section-body">
						<button type="button" class="btn btn-control" data-bs-target="#userListOption" data-bs-toggle="modal">
							보기옵션 설정
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-control has-icn">
							<i class="icn icn-16-refresh-bk"></i>설정 초기화
						</button>
						<button type="button" class="btn btn-control excel has-icn" data-bs-target="#excelDown" data-bs-toggle="modal">
							<i class="icn icn-16-excel"></i>엑셀다운로드
						</button>
						<button type="button" class="btn btn-control btn-outline-dark has-icn">
							<i class="icn icn-16-update-bk" aria-hidden="true"></i>사용자 정보 업데이트
						</button>
						<br>
						<br>
						<div class="btn-group-date">
							<button type="button" class="btn btn-control btn-outline-primary">오늘</button>
							<button type="button" class="btn btn-control">1주일</button>
							<button type="button" class="btn btn-control">1개월</button>
							<button type="button" class="btn btn-control">3개월</button>
							<button type="button" class="btn btn-control">6개월</button>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">.btn-module</h2>
					</div>
					<div class="g-section-body">
						<button type="button" class="btn btn-module">보기</button>
						<button type="button" class="btn btn-module btn-outline-primary">삭제</button>
						<button type="button" class="btn btn-module negative">예외정책 해제하기</button>
						<button type="button" class="btn btn-module btn-primary">예외정책 해제하기</button>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">.btn-module2</h2>
					</div>
					<div class="g-section-body">
						<button type="button" class="btn btn-module2 btn-primary">신규 등록</button>
						<button type="button" class="btn btn-module2 negative">예외정책 해제하기</button>
						<button type="button" class="btn btn-module2 positive">예외정책 적용하기</button>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</main>
	</div>
	<!-- //Container -->

	<!-- Footer -->
	<footer class="footer"></footer>
	<!-- //Footer -->
</div>
</body>
</html>