<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>CUBOX K-FACEON</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="keywords" content="CUBOX K-FACEON, 삼성 SDS" />
<meta name="description" content="CUBOX K-FACEON, 삼성 SDS" />
<title>CUBOX K-FACEON</title>
<!-- Bootstrap -->
<script src="../../assets/js/libs/datatables.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<script src="../../assets/js/libs/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script src="../../assets/js/libs/bootstrap-datepicker.js"></script>
<!-- Custom -->
<link rel="stylesheet" href="../../assets/css/index.css" />
<script src="../../assets/js/ui/ui.common.js"></script>
<!-- Guide 전용 -->
<link rel="stylesheet" href="css/guide.css" />
</head>
<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
<div class="wrapper sub_page">
	<!-- Header -->
	<header class="header"></header>
	<!-- //Header -->

	<!-- Container -->
	<div class="container">
		<main id="content" class="content" role="main">
			<div class="content-body">
				<div class="in-sec">
					<h1 class="g-h1">Form</h1>
				</div>
				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">Textfield</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Input / Textarea</h3>
						<div class="form-controls">
							<input type="text" name="" id="" value="" placeholder="Placeholder" class="form-control demo1">
							<input type="text" name="" id="" value="Value" placeholder="Placeholder" class="form-control demo1">
							<input type="text" name="" id="" value="" placeholder="Placeholder" class="form-control demo1" readonly>
							<input type="text" name="" id="" value="" placeholder="Placeholder" class="form-control demo1" disabled />
						</div>
						<br />
						<textarea cols="50" rows="2" class="input demo1"></textarea>

						<h3 class="g-h3">달력 및 검색</h3>
						<h4 class="g-h4">Input Search</h4>
						<div class="input-group type-search">
							<input type="text" class="form-control" value="" />
							<div class="input-group-over">
								<button type="button" class="btn"><i class="icn icn-16-calendar-bk">
									<span class="blind">검색</span></i>
								</button>
							</div>
						</div>

						<h4 class="g-h4">Datepicker</h4>
						<div class="form-controls">
							<!-- 달력선택 -->
							<div class="input-group-date">
								<div class="input-group">
									<input type="text" id="inputStartDt" name="inputStartDt" class="form-control datepicker" value="2023-09-28" data-format="yyyy-mm-dd" autocomplete="off" />
									<div class="input-group-over">
										<i class="icn icn-16-calendar-bk"></i>
									</div>
								</div>
								<div class="form-split">~</div>
								<div class="input-group">
									<input type="text" id="inputEndDt" name="inputEndDt" class="form-control datepicker" value="2023-10-28" data-format="yyyy-mm-dd" autocomplete="off" />
									<div class="input-group-over">
										<i class="icn icn-16-calendar-bk"></i>
									</div>
								</div>
							</div>
							<!-- //달력선택 -->
							<!-- 기간선택 -->
							<div class="btn-group-date">
								<button type="button" class="btn btn-control btn-outline-primary">오늘</button>
								<button type="button" class="btn btn-control">1주일</button>
								<button type="button" class="btn btn-control">1개월</button>
								<button type="button" class="btn btn-control">3개월</button>
								<button type="button" class="btn btn-control">6개월</button>
							</div>
							<!-- //기간선택 -->
							<script>
								$(function(){
									$('#inputStartDt').datepicker();
									$('#inputEndDt').datepicker();
								})
							</script>
						</div>


						<h4 class="g-h4">검색버튼</h4>
						<button type="button" class="btn btn-search has-icn">
							<i class="icn icn-16-search-wh"></i>검색
						</button>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">Select</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Form Select</h3>
						<select class="form-select" aria-label="Default select example">
							<option selected>Open this select menu</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						<br>
						<select class="form-select w-auto" aria-label="Default select example">
							<option selected>Open this select menu</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">Radio/Checkbox</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Elements</h3>
						<h4 class="g-h4">Radio</h4>
						<div class="radio-inline">
							<label class="radio style1">
								<input type="radio" name="rdoExPolicy" value="" />
								<span class="value"><span>미적용</span></span>
							</label>
							<label class="radio style1">
								<input type="radio" name="rdoExPolicy" value="" checked />
								<span class="value"><span>적용</span></span>
							</label>
							<label class="radio style1">
								<input type="radio" name="rdoExPolicy2" value="" disabled />
								<span class="value"><span>비활성</span></span>
							</label>
							<label class="radio style1">
								<input type="radio" name="rdoExPolicy2" value="" checked disabled />
								<span class="value"><span>비활성</span></span>
							</label>
						</div>
						<h4 class="g-h4">Checkbox</h4>
						<div class="checkbox-inline">
							<label class="checkbox style1">
								<input type="checkbox" name="chkExPolicy" value="" />
								<span class="value"><span>미적용</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="chkExPolicy" value="" checked />
								<span class="value"><span>적용</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="chkExPolicy" value="" disabled />
								<span class="value"><span>비활성</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="chkExPolicy" value="" checked disabled />
								<span class="value"><span>비활성</span></span>
							</label>
						</div>
						<h3 class="g-h3">Group</h3>
						<h4 class="g-h4">Block</h4>
						<div class="checkbox-block">
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0002" />
								<span class="value"><span>타인동석</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0003" />
								<span class="value"><span>카메라촬영</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0001" />
								<span class="value"><span>웹캠가림</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0101" />
								<span class="value"><span>추가모니터</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0102" />
								<span class="value"><span>추가웹캠</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType1" value="PC0004" />
								<span class="value"><span>자리이석</span></span>
							</label>
						</div>
						<h4 class="g-h4">Inline (gap 기본)</h4>
						<div class="checkbox-inline">
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0002" />
								<span class="value"><span>타인동석</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0003" />
								<span class="value"><span>카메라촬영</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0001" />
								<span class="value"><span>웹캠가림</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0101" />
								<span class="value"><span>추가모니터</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0102" />
								<span class="value"><span>추가웹캠</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType2" value="PC0004" />
								<span class="value"><span>자리이석</span></span>
							</label>
						</div>
						<h4 class="g-h4">Inline (gap-xl)</h4>
						<div class="checkbox-inline gap-xl">
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0002" />
								<span class="value"><span>타인동석</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0003" />
								<span class="value"><span>카메라촬영</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0001" />
								<span class="value"><span>웹캠가림</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0101" />
								<span class="value"><span>추가모니터</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0102" />
								<span class="value"><span>추가웹캠</span></span>
							</label>
							<label class="checkbox style1">
								<input type="checkbox" name="checkPolicyType3" value="PC0004" />
								<span class="value"><span>자리이석</span></span>
							</label>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</main>
	</div>
	<!-- //Container -->

	<!-- Footer -->
	<footer class="footer"></footer>
	<!-- //Footer -->
</div>
</body>
</html>