<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>CUBOX K-FACEON</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="keywords" content="CUBOX K-FACEON, 삼성 SDS" />
<meta name="description" content="CUBOX K-FACEON, 삼성 SDS" />
<title>CUBOX K-FACEON</title>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- Custom -->
<link rel="stylesheet" href="../../assets/css/index.css" />
<script src="../../assets/js/libs/jquery.min.js"></script>
<!-- Guide 전용 -->
<link rel="stylesheet" href="css/guide.css" />
</head>
<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
<div class="wrapper sub_page">
	<!-- Header -->
	<header class="header"></header>
	<!-- //Header -->

	<!-- Container -->
	<div class="container">
		<main id="content" class="content" role="main">
			<div class="content-body">
				<div class="in-sec">
					<h1 class="g-h1">Tabs</h1>
				</div>
				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">.tab-page</h2>
					</div>
					<div class="g-section-body">
						<div class="tab-container tab-page">
							<div class="tab-list" role="tablist">
								<!-- 2023-11-17 탭수정, 최하단 툴팁활성화 -->
								<button type="button" id="tabNav1" role="tab" data-bs-toggle="tooltip" class="tab" data-bs-placement="top" aria-selected="false" data-bs-title="로그인, 얼굴인증 이력을 확인할 수 있습니다."><span>사용자인증이력</span></button>
								<button type="button" id="tabNav2" role="tab" data-bs-toggle="tooltip" class="tab is-selected" data-bs-placement="top" aria-selected="true" data-bs-title="예외정책 적용 현황 및 적용 기간 내 접속 이력을 확인할 수 있습니다."><span>예외정책/접속이력</span></button>
								<button type="button" id="tabNav3" role="tab" data-bs-toggle="tooltip" class="tab" data-bs-placement="top" aria-selected="false" data-bs-title="이상행위 발생 이력을 확인할 수 있습니다."><span>이상행위이력</span></button>
								<button type="button" id="tabNav4" role="tab" data-bs-toggle="tooltip" class="tab" data-bs-placement="top" aria-selected="false" data-bs-title="추가모니터 및 추가웹캠 감지 이력을 확인할 수 있습니다."><span>추가모니터/웹감지이력</span></button>
								<button type="button" id="tabNav5" role="tab" data-bs-toggle="tooltip" class="tab" data-bs-placement="top" aria-selected="false" data-bs-title="에이전트 설치 이력을 확인할 수 있습니다."><span>에이전트설치이력</span></button>
								<button type="button" id="tabNav6" role="tab" data-bs-toggle="tooltip" class="tab" data-bs-placement="top" aria-selected="false" data-bs-title="삭제코드 발급 이력을 확인할 수 있습니다."><span>삭제코드발급이력</span></button>
							</div>

							<div class="tab-panel" aria-labelledby="tabNav2">
								<!-- tab-panel -->
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section in-sec">
					<div class="g-section-head">
						<h2 class="g-h2">.tab-page2</h2>
					</div>
					<div class="g-section-body">
						<div class="tab-container tab-page2">
							<div class="tab-list" role="tablist">
								<button type="button" id="tabNav1" role="tab" aria-selected="false" class="tab"><span>파일 다운로드</span></button>
								<button type="button" id="tabNav2" role="tab" aria-selected="true" class="tab is-selected"><span>로그인</span></button>
							</div>
							<div class="tab-panel" aria-labelledby="tabNav2">
								<!-- tab-panel -->
							</div>
						</div>
				</section>
				<!-- //Section -->
			</div>
		</main>
	</div>
	<!-- //Container -->

	<!-- Footer -->
	<footer class="footer"></footer>
	<!-- //Footer -->
</div>
</body>
</html>